@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Short+Stack&display=swap');
body{
    background-color:black;
    color:rgb(19, 194, 214);
    font-family:"Mynerve";
    position: relative;
    width: 100vh;
    height: 100vh;
    scroll-behavior :none;
}
#h{
    position: absolute;
    top: 5px;
}
#start{
    position: absolute;
    color: black;
    background-color:rgb(19, 194, 214);
    width:100px;
    height: 50px;
    font-size:larger;
    font-family:"Mynerve";
    margin-left: 450px;
    margin-top: 40px;
}
#text1{
    position: absolute;
    width: 50px;
    height: 50px;
    color:black;
    background-color:rgb(19, 194, 214);
    margin-top: 150px;
    resize: none;
    margin-left: 350px;
    font-size: larger;
}
#text2{
    position: absolute;
    width: 50px;
    height: 50px;
    color:black;
    background-color:rgb(19, 194, 214);
    margin-top: 150px;
    resize: none;
    margin-left: 600px;
    font-size: larger;
}
#ans{
    position: absolute;
    width:150px;
    height: 50px;
    font-size:larger;
    font-family:"Mynerve";
    margin-left: 420px;
    margin-top: 250px;
    color:black;
    background-color:rgb(19, 194, 214);
}
#solved{
    position: absolute;
    color: black;
    background-color:rgb(19, 194, 214);
    width:100px;
    height: 50px;
    font-size:larger;
    font-family:"Mynerve";
    margin-left:450px;
    margin-top: 350px;
}
#score{
    position: absolute;
    width: 100px;
    height: 30px;
    color:black;
    background-color:rgb(19, 194, 214);
    margin-top: 0px;
    resize: none;
    margin-left: 900px;
    font-size: larger;
}
#page2{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
}
#livesDisplay, #timerDisplay{
    position: absolute;
    left: 0px;
    font-size: 2rem;
}
#livesDisplay{
    top: 100px;
}
#timerDisplay{
    top: 200px;
}